

<div class="large-4 columns">

<h2>Welcome to the movies app</h2>


<p>Search for a movie:</p>	

	<%= form_tag search_path do %>

		<%= text_field_tag 'search' %>
		<%= submit_tag 'Search', class: "button", style: "width:30%" %>

	<% end %>

<%= link_to 'Add another movie to the collection', new_movie_path, class: "button" %>
<bu/><br/>

<%= render 'movie_list' %>

</div>







