
<div class="large-4 columns">

	<h1>Create a new movie</h1>

	<% if @movie.errors.any? %>

	<div class='errors'>
		<p>Woops, lets fix these things up:</p>
		<ul style="list-style:none">
			<% @movie.errors.full_messages.each do |message| %>
				<li><span class="round alert label"><%= message %></span></li>
			<% end %>
		</ul>
	</div>

	<% end %>

	<%= form_for @movie do |f| %>


		<div>
			<%= f.label :title %>
			<%= f.text_field :title %>
		</div>

		<div>
			<%= f.label :description %>
			<%= f.text_field :description %>
		</div>

		<div>
			<%= f.label :year_released %>
			<%= f.text_field :year_released %>
		</div>

	<%= f.submit %> or <%= link_to 'Cancel', movies_path %>


	<% end %>

</div>