<div class="large-4 columns">

<h1>More details for <%= @movie.title %></h1>

<table>
  <thead>
    <tr>
      <th width="150">Title</th>
      <th width="150">Description</th>
      <th width="150">Year Released</th>
      <th width="150"> </th>
    </tr>
  </thead>
  <tbody>
	    <tr>
	      <td><%= @movie.title %></td>
	      <td><%= @movie.description %></td>
	      <td><%= @movie.year_released %></td>
	      <td><%= link_to 'Edit', edit_movie_path(@movie) %></td>
	    </tr>
  </tbody>
</table>


<%= link_to 'Home', root_path, class: "button" %>
</div>